.example-container {
    height: 360px;
    width: 800px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }

  .card-principal {
    //   margin: 18px;
  }

  .titulo {
      width: 100%;
      height: 20px;
      display: flex;
      margin-bottom: 32px;
  }

 mat-form-field  {
    margin-right: 20px;
 }

.form-filtro {
    display: flex;
}