
<mat-card class="card-principal">

<h2 class="titulo"> Jogos realizados: </h2>
<div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="jogo">

        <!-- Jogador1 Column -->
        <ng-container matColumnDef="jogador1">
            <th mat-header-cell *matHeaderCellDef> Jogador </th>
            <td mat-cell *matCellDef="let element"> {{element.jogador1}} </td>
        </ng-container>

        <!-- Gols1 Column -->
        <ng-container matColumnDef="gols1">
            <th mat-header-cell *matHeaderCellDef> Gols </th>
            <td mat-cell *matCellDef="let element"> {{element.gols1}} </td>
        </ng-container>

        <!-- Jogador2 Column -->
        <ng-container matColumnDef="jogador2">
            <th mat-header-cell *matHeaderCellDef> Jogador </th>
            <td mat-cell *matCellDef="let element"> {{element.jogador2}} </td>
        </ng-container>

        <!-- Gols2 Column -->
        <ng-container matColumnDef="gols2">
            <th mat-header-cell *matHeaderCellDef> Gols </th>
            <td mat-cell *matCellDef="let element"> {{element.gols2}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="nomeColunas; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: nomeColunas;"></tr>
    </table>
</div>

</mat-card>
