.example-container {
    height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }

  .card-principal {
    //   margin: 18px;
  }

  .titulo {
      width: 100%;
      height: 20px;
      display: flex;
      margin-bottom: 32px;
  }