.has-text-centered {
    display: flex;
    margin-right: 40px;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 6px;
  position: fixed;
  z-index: 2;

}

.footer {
  height: 64px;
}

.body-container {
    height: calc(100% - 64px) !important;
  }

  .side-container {    height: calc(100% - 64px); }
